.logoISC{
  width: 30%;
  height: auto;
}

.copyright{
  text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background:  url(/projectWeb/img/fondo1.jpg) center top;
    font-family: sans-serif;
    height: auto;
}

.logoEscom{
  border-radius: 35%;
  width: 20%;
  height: auto;
}

#Login{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    left: 50%;
    position: absolute;
    transform:  translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}
#Login #avatar{
    width: 100px;
    height: 100px;
    border-radius: 35%;
    position: absolute;
    left: calc(50% - 50px);
    top: -50px;
}
#Login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
#Login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
#Login input{
    width: 100%;
    margin-bottom: 20px;
}

#Login input[type="text"],#Login input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
#Login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #50A6A6;
    color:#fff;
    border-radius: 20px;
}
#Login input[type="submit"]:hover{
    background: #6796a1;
}
#Login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
#Login a:hover{
    color: white;
}

.foot{
  width: 200px;
  height: 200px;
  background: rgb(19, 19, 18);
  color: #fff;
  left: 50%;
  position: absolute;
  transform:  translate(-50%,-50%);
  padding: 40px 30px;
  border-radius: 150px;
}

#formu1{
    width: 720px;
    height: 620px;
    background: #000;
    color: #fff;
    left: 25%;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}
#formu1 #avatar2{
    width: 100px;
    height: 100px;
    border-radius: 35%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
#formu1 h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
#formu1 label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
#formu1 input{
    width: 100%;
    margin-bottom: 20px;
}

#formu1 input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    border-left: 5px ;
    border-right: 5px ;
}
#formu1 input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #50A6A6;
    color:#fff;
    border-radius: 20px;
}
#formu1 input[type="submit"]:hover{
    background: #6796a1;
}

#formu2{
    width: auto;
    height: auto;
    background: #000;
    color: #fff;
    position: absolute;
    padding: 50px 0px 10px;
    border-radius: 20px;
}

#formu2 #avatar2{
    width: 100px;
    height: 100px;
    border-radius: 35%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
#formu2 h1{
    margin: 0;
    text-align: center;
    font-size: 22px;
}
#formu2 label{
    font-size: 14px;
}
#formu2 input{
    width: 100%;

    margin-bottom: 10px;
}

#formu2 input[type="submit"]{
    background: #50A6A6;
    color:#fff;
    border-radius: 20px;
}
#formu2 input[type="submit"]:hover{
    background: rgb(245, 58, 39);
}
#i,#r{
  float: left;
}
